html {
	overflow-y: scroll;
}
html, body {
	margin: 0;
	padding:25px 0 0 0;
}
@media(max-width: 700px){
	iframe{
		display: none;
	}
}

td.clickableCell { cursor: pointer; color: #555555; }
td.clickableCell:hover { background-color: #f5f5f5; color:#555555; } 
.clickableGlyph { cursor: pointer; }
.clickableGlyph:hover { cursor: pointer; }
.table > tbody > tr > td.active { background-color: #29aec1; }

img.teamLogo {
	height: 40px;
	width: 40px;
}